<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<style>
#sidebar {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
</style>


<script>
var map;
$(function() {
  map = new google.maps.Map(document.getElementById('sidebar'), {
    zoom: 13,
    center: {lat: 40.724136, lng: -73.972146}
  });
})

</script>

<div id="header">
  Likes:<%= @project.likes%> Views:<%= @project.views %>
</div>

<div id="main-wrap">
  <div id="sidebar">Left Nav</div>
  
  <div id="content-wrap">
    <h1><strong><%= @project.title.upcase %></strong><br></h1>
    <i>Posted by: <strong><%= @project.owner_full_name.titleize %></strong> in <strong><%= @project.state.upcase %></strong></i><br><br>
    BRIEF DESCRIPTION<br>
    <%= @project.reason_for_renovating %><hr>

    PROJECT DETAILS<br>
    SPACE <strong><%= @project.renovate_space_type.titleize %></strong><br>
    SERVICES <strong><%= @project.hiring_service_type.titleize %></strong><br>
    STYLE <strong><%= @project.renovation_style.titleize %></strong><hr>

    CURRENT CONDITIONS<br>
    <%= @project.current_condition %><hr>

    SCOPE OF WORK <br>
    <%= @project.scope %>
    
  </div>
</div>
<div id="footer">Footer</div>
